@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="row">
            <div class="col-12">
                <a>
                    <div class="d-md-block d-none">
                        <img class="img-fluid" src="img/logo SMART capa.png" />
                    </div>
                    <div class="d-md-none d-block">
                        <img class="img-fluid" src="img/logo smart.png" />
                    </div>
                </a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
